.prev, .next {
	font-size   : 1.4em;
	font-weight : bold;
	a {
		color           : #000;
		text-decoration : none;
	}
	a:hover {
		text-decoration : underline;
	}
}

.arrow {
	position         : absolute;
	z-index          : 100;
	top              : 0;
	width            : 220px;
	height           : 100%;
	font-size        : 150px;
	text-align       : center;
	color            : #fff;
	opacity          : 0;
	background-color : rgba(0, 0, 0, 0.15); /* прозрачный фон, но текст блока остается непрозрачным */
	
	.symbol {
		padding-top : 300px;
	}
}

#book-page-block {
	position : relative;
	-webkit-box-shadow : 1px 0 3px #aaa;
	
	#left-arrow {
		.arrow;
		left : 0;
	}

	#right-arrow {
		.arrow;
		right : 0;
	}
}

.control {
	margin : 0px 0px 1.5em;
}

#thumbnails {
	height   : 500px;
	overflow : auto;
	
	img {
		width  : 80px;
		height : 105px;
		border : 1px solid #ccc;
	}
	
	img.current {
		border : 1px solid #55f;
	}
}

.sticker {
	position           : absolute;
	top                : 50px;
	left               : 100px;
	z-index            : 200;
	padding            : 2px;
	border             : 1px solid #ccc;
	cursor             : pointer;
	background-color   : rgba(255, 255, 255, 0.85);
	-webkit-box-shadow : 1px 0 3px #aaa;
	height             : 150px;
	width              : 150px;
}