.prev {
  font-size: 1.4em;
  font-weight: bold;
}
.prev a {
  color: #000000;
  text-decoration: none;
}
.prev a:hover { text-decoration: underline; }
.next {
  font-size: 1.4em;
  font-weight: bold;
}
.next a {
  color: #000000;
  text-decoration: none;
}
.next a:hover { text-decoration: underline; }
.arrow {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 220px;
  height: 100%;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.arrow .symbol { padding-top: 300px; }
#book-page-block {
  position: relative;
  -webkit-box-shadow: 1px 0 3px #aaaaaa;
}
#book-page-block #left-arrow {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 220px;
  height: 100%;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
  left: 0;
}
#book-page-block #left-arrow .symbol { padding-top: 300px; }
#book-page-block #right-arrow {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 220px;
  height: 100%;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
  right: 0;
}
#book-page-block #right-arrow .symbol { padding-top: 300px; }
#thumbnails {
  height: 500px;
  overflow: auto;
}
#thumbnails img {
  width: 80px;
  height: 105px;
  border: 1px solid #cccccc;
}
#thumbnails img.current { border: 1px solid #5555ff; }
