#wrapper { position: relative; }
.prev {
  font-size: 1.4em;
  font-weight: bold;
}
.prev a {
  color: #000000;
  text-decoration: none;
}
.prev a:hover { text-decoration: underline; }
.next {
  font-size: 1.4em;
  font-weight: bold;
}
.next a {
  color: #000000;
  text-decoration: none;
}
.next a:hover { text-decoration: underline; }
.arrow {
  position: absolute;
  z-index: 10;
  top: 18px;
  width: 220px;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
#left-arrow {
  position: absolute;
  z-index: 10;
  top: 18px;
  width: 220px;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.25);
  left: 0;
}
#right-arrow {
  position: absolute;
  z-index: 10;
  top: 18px;
  width: 220px;
  font-size: 150px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.25);
  right: 0;
}
#book-page-block { -webkit-box-shadow: 1px 0 3px #aaaaaa; }
#thumbnails {
  height: 745px;
  overflow: auto;
}
#thumbnails img { border: 1px solid #cccccc; }
#thumbnails img.current { border: 1px solid #5555ff; }
