#wrapper {
	position : relative;
}

.arrow {
	position         : absolute;
	z-index          : 10;
	top              : 18px;
	width            : 220px;
	height           : 730px;
	padding-top      : 500px;
	font-size        : 150px;
	text-align       : center;
	color            : #fff;
	opacity          : 0;
	background-color : rgba(0, 0, 0, 0.25); /* прозрачный фон, но текст блока остается непрозрачным */
	cursor           : pointer;
}

#left-arrow {
	.arrow;
	left : 0;
}

#right-arrow {
	.arrow;
	right : 0;
}

#book-page-block {
	height : 1230px;
}