<h2>Help</h2>

<p>Find me in app/views/welcome/help.html.erb</p>


<% content_for :sidebar do %>
	<h2>F.A.Q.</h2>
	
	<h3>Supported import formats are:</h3>
	<ul>
		<li>OpenOffice.org 1.0 Text Document</li>
		<li>StarWriter 4.0</li>
		<li>HTML Document (OpenOffice.org Writer)</li>
		<li>StarWriter 3.0 Template</li>
		<li>StarWriter 4.0 Template</li>
		<li>StarWriter 5.0 Template</li>
		<li>Microsoft Word 95 Template</li>
		<li>Microsoft Word 97/2000/XP Template</li>
		<li>OpenOffice.org 1.0 Text Document Template</li>
		<li>ODF Text Document</li>
		<li>Microsoft Word 2003 XML</li>
		<li>Microsoft Excel 95 (OpenOffice.org Writer)</li>
		<li>Lotus 1-2-3 1.0 WIN (OpenOffice.org Writer)</li>
		<li>Lotus 1-2-3 1.0 DOS (OpenOffice.org Writer)</li>
		<li>WordPerfect Document</li>
		<li>Rich Text Format</li>
		<li>StarWriter 1.0</li>
		<li>Microsoft Word 2007 XML Template</li>
		<li>StarWriter 3.0</li>
		<li>ODF Text Document Template</li>
		<li>StarWriter 5.0</li>
		<li>Microsoft Word 6.0</li>
		<li>StarWriter DOS</li>
		<li>Text Encoded</li>
		<li>Unified Office Format text</li>
		<li>Microsoft Word 95</li>
		<li>Microsoft Word 97/2000/XP</li>
		<li>Hangul WP 97</li>
		<li>Microsoft Excel 5.0 (OpenOffice.org Writer)</li>
		<li>Text</li>
		<li>Microsoft Word 2007 XML</li>
		<li>T602 Document</li>
		<li>Microsoft Excel 4.0 (OpenOffice.org Writer)</li>
		<li>DocBook</li>
		<li>Microsoft WinWord 5</li>
		<li>StarWriter 2.0</li>
		<li>Help content</li>
		<li>HTML Document</li>
		<li>StarWriter/Web 4.0 Template</li>
		<li>StarWriter/Web 5.0 Template</li>
		<li>Text (OpenOffice.org Writer/Web)</li>
		<li>OpenOffice.org 1.0 HTML Template</li>
		<li>HTML Document Template</li>
		<li>Text Encoded (OpenOffice.org Writer/Web)</li>
		<li>OpenOffice.org 1.0 Master Document</li>
		<li>Text Encoded (OpenOffice.org Master Document)</li>
		<li>ODF Master Document</li>
		<li>StarWriter 4.0 Master Document</li>
		<li>StarWriter 5.0 Master Document</li>
		<li>Web Page Query (OpenOffice.org Calc)</li>
		<li>OpenOffice.org 1.0 Spreadsheet Template</li>
		<li>OpenOffice.org 1.0 Spreadsheet</li>
		<li>Microsoft Excel 2007 XML Template</li>
		<li>Data Interchange Format</li>
		<li>Microsoft Excel 97/2000/XP Template</li>
		<li>HTML Document (OpenOffice.org Calc)</li>
		<li>Microsoft Excel 5.0</li>
		<li>Unified Office Format spreadsheet</li>
		<li>Microsoft Excel 95</li>
		<li>StarCalc 4.0</li>
		<li>Microsoft Excel 97/2000/XP</li>
		<li>Microsoft Excel 4.0 Template</li>
		<li>ODF Spreadsheet Template</li>
		<li>ODF Spreadsheet</li>
		<li>Text CSV</li>
		<li>Rich Text Format (OpenOffice.org Calc)</li>
		<li>StarCalc 3.0 Template</li>
		<li>StarCalc 4.0 Template</li>
		<li>StarCalc 5.0 Template</li>
		<li>Microsoft Excel 95 Template</li>
		<li>dBASE</li>
		<li>Microsoft Excel 2003 XML</li>
		<li>Microsoft Excel 2007 XML</li>
		<li>Microsoft Excel 2007 Binary</li>
		<li>StarCalc 1.0</li>
		<li>Microsoft Excel 5.0 Template</li>
		<li>StarCalc 3.0</li>
		<li>Quattro Pro 6.0</li>
		<li>StarCalc 5.0</li>
		<li>Microsoft Excel 4.0</li>
		<li>Lotus 1-2-3</li>
		<li>OpenOffice.org 1.0 Drawing Template</li>
		<li>StarDraw 3.0 Template (OpenOffice.org Impress)</li>
		<li>StarDraw 5.0 Template (OpenOffice.org Impress)</li>
		<li>Microsoft PowerPoint 97/2000/XP Template</li>
		<li>Unified Office Format presentation</li>
		<li>OpenOffice.org 1.0 Presentation Template</li>
		<li>StarImpress 5.0</li>
		<li>StarImpress 5.0 Packed</li>
		<li>StarDraw 5.0 (OpenOffice.org Impress)</li>
		<li>ODF Presentation</li>
		<li>Microsoft PowerPoint 2007 XML Template</li>
		<li>ODF Drawing (Impress)</li>
		<li>OpenOffice.org 1.0 Drawing (OpenOffice.org Impress)</li>
		<li>Microsoft PowerPoint 2007 XML</li>
		<li>CGM - Computer Graphics Metafile</li>
		<li>Microsoft PowerPoint 97/2000/XP</li>
		<li>StarImpress 4.0</li>
		<li>ODF Presentation Template</li>
		<li>StarImpress 4.0 Template</li>
		<li>StarImpress 5.0 Template</li>
		<li>OpenOffice.org 1.0 Presentation</li>
		<li>StarDraw 3.0 (OpenOffice.org Impress)</li>
		<li>StarMath 3.0</li>
		<li>StarMath 5.0</li>
		<li>OpenOffice.org 1.0 Formula</li>
		<li>MathType3.x</li>
		<li>StarMath 2.0</li>
		<li>StarMath 4.0</li>
		<li>MathML 1.01</li>
		<li>ODF Formula</li>
		<li>ODF Database</li>
	</ul>
<% end %>