<h3>All uploaded books:</h3>

<div id="quick-list">
	<% @uploads.each do |upload| %>
		<%= link_to image_tag("http://#{upload.static_host}/#{upload.id}/#{upload.id}-000001.png", :height => 130), "/simpleviewer/#{upload.id}/1" %>
	<% end %>
</div>