<h1>Welcome#index</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus est vitae eros ultricies malesuada. Vestibulum posuere, erat eget rhoncus interdum, leo erat condimentum diam, nec facilisis nunc dolor dapibus ligula. Cras quis accumsan ipsum. Nulla facilisi. Aliquam convallis tincidunt metus vitae tempus. Nam adipiscing malesuada feugiat. Sed sagittis mollis elit id condimentum. Vivamus porta fermentum libero, vitae ultrices mi tempus et. Sed sagittis faucibus dolor vitae ullamcorper. Nam facilisis erat vel quam lacinia faucibus. Fusce scelerisque blandit porttitor. In consequat, augue eu gravida ultrices, mauris urna luctus dolor, sed molestie felis arcu vel sem. In eu neque eget diam ullamcorper tempus. In et lorem urna, in tincidunt justo. Ut convallis auctor congue. Aenean nisi turpis, scelerisque nec suscipit eu, posuere sit amet libero.</p>

<h2>All registered users:</h2>

<p>
	<ul>
	<% @users.each do |user| %>
		<li><%= user.email %></li>
	<% end %>
	</ul>
</p>

<h2>All uploaded books:</h2>

<p>
	<% @uploads.each do |upload| %>
		<%= link_to image_tag("http://#{upload.static_host}/#{upload.id}/#{upload.id}-000001.png", :width => 100, :height => 130), "#" %>
	<% end %>
</p>

<p>Proin metus dui, interdum vitae auctor non, hendrerit nec odio. Maecenas vitae orci eu est pellentesque hendrerit. Sed urna sapien, fringilla ac condimentum nec, imperdiet sed ipsum. Pellentesque tristique vulputate dolor, at elementum turpis mattis fringilla. Fusce eget lacus quis ipsum sagittis facilisis a sit amet lorem. Proin ultricies sagittis erat, sit amet luctus neque blandit in. Cras justo arcu, consectetur in accumsan vitae, vestibulum eget enim. Nullam a consequat mi. Vivamus scelerisque sagittis dui quis tristique. Sed malesuada ultricies laoreet. Pellentesque non justo in turpis volutpat accumsan et id odio. Suspendisse eleifend, tortor sit amet interdum dictum, lectus tortor sagittis sapien, mollis dignissim arcu lectus non lorem.</p>

<p>Aliquam erat volutpat. Duis elit ante, elementum quis suscipit et, scelerisque sed justo. Morbi aliquam velit quis turpis ornare facilisis. Nullam nisl ligula, dapibus quis lobortis vitae, aliquam non augue. Aenean ut interdum erat. Sed gravida feugiat felis eget porttitor. Vivamus non lectus eget nibh hendrerit vestibulum. Maecenas rhoncus purus at risus aliquam ullamcorper. Nam sollicitudin tincidunt leo sit amet fringilla. Etiam elementum imperdiet justo at bibendum. Mauris id libero et ipsum placerat placerat at id tortor. Cras sit amet urna in justo auctor feugiat. Quisque nisl mauris, ornare ut vestibulum a, vehicula sit amet risus. Aliquam erat volutpat. Curabitur quis tristique mi. Suspendisse et turpis lectus. Praesent vel enim et sapien vestibulum euismod sit amet nec leo.</p>

<p>Donec rhoncus nisi elit. Maecenas metus nunc, ultricies at tincidunt quis, fermentum id leo. Mauris non ligula massa. Integer id purus tellus. Sed id ullamcorper risus. Suspendisse lobortis egestas aliquet. Curabitur turpis mauris, pulvinar sed tincidunt sed, laoreet ut ipsum. Cras et faucibus urna. Suspendisse ut erat id dolor euismod facilisis. Mauris urna odio, mattis ut lobortis condimentum, imperdiet non augue. Donec tempor, felis ut lobortis condimentum, velit dolor ullamcorper sem, non ullamcorper odio arcu vestibulum lacus. Donec odio mi, vehicula sed gravida id, mattis sed felis. In hac habitasse platea dictumst. Proin luctus nisl vitae eros aliquam vel eleifend quam hendrerit. Donec blandit lectus sed dui aliquet in elementum est ultrices. Suspendisse posuere urna eu orci elementum sagittis. Suspendisse potenti. Sed non mauris lectus, sit amet faucibus tortor. Duis et posuere nibh. Maecenas nec odio in leo sodales egestas id a diam.</p>

<p>Suspendisse eros tellus, viverra a iaculis ac, pretium vitae felis. Sed in leo felis, et tristique quam. Suspendisse nec elit nec leo fringilla pellentesque. Quisque venenatis suscipit posuere. Ut condimentum, enim nec rhoncus convallis, sem sem gravida neque, id rhoncus diam orci nec sapien. Integer faucibus posuere tempus. Nulla molestie euismod enim, in consectetur risus egestas a. Aenean mattis venenatis dolor, sed tincidunt diam dictum vel. Cras non laoreet neque. Ut dapibus pulvinar lacinia. Donec quis tellus nec mauris iaculis condimentum ac eget eros. Aenean non tellus vitae ligula elementum bibendum a vitae turpis. Cras purus enim, laoreet eget laoreet quis, laoreet sed est. Sed sapien erat, congue sit amet rhoncus sed, sagittis ut odio.</p>

<p>Cras vel tellus libero. Nunc bibendum laoreet semper. Nam et diam sed risus facilisis laoreet in quis lacus. Nullam massa est, hendrerit dictum sollicitudin vel, laoreet a mi. Etiam molestie, nulla nec dignissim bibendum, odio arcu laoreet velit, a rutrum magna tortor et neque. Ut ullamcorper facilisis mollis. Curabitur lobortis, est vitae congue egestas, nisi nisl ornare eros, quis ultricies libero dui vel mi. Pellentesque viverra erat eu dolor pulvinar euismod. Nam vitae justo neque. Etiam quis varius magna. Ut id ligula ipsum, eu laoreet augue. Donec vel mauris quis enim vestibulum vestibulum ut id est. Curabitur consequat aliquet augue, quis porttitor turpis ultricies quis. Curabitur porttitor orci a nisl faucibus eu sagittis sapien facilisis. Etiam eu lacus massa.</p>

<p>Donec tincidunt erat sit amet sem imperdiet ac tempor mauris lobortis. Quisque commodo scelerisque lorem, id ornare enim iaculis nec. Phasellus malesuada bibendum metus sit amet feugiat. Ut at magna tellus. Donec tempor nisi at augue imperdiet vel mattis libero pulvinar. Ut a diam augue, quis cursus purus. Ut suscipit diam ut purus ornare quis luctus enim feugiat. Aenean eleifend lacus nec tellus venenatis ac luctus sapien aliquam. Ut dignissim euismod volutpat. Vivamus sit amet vestibulum massa. Nulla vitae est dui. Mauris lacus urna, molestie fermentum commodo porttitor, condimentum in dolor. Aenean ullamcorper nulla lectus, in placerat lectus. Mauris a dui vitae neque egestas egestas vitae in leo.</p>