<% if user_signed_in? && @own_books.size > 0 %>
<h3 class="alt">Your bookshelf</h3>

<div class="bookshelf">
	<div id="own-books">
		<% @own_books.each do |book| %>
			<div class="book-thumb">
				<%= link_to image_tag(thumbnail_url(book), :height => 105), "/simpleviewer/#{book.id}/1" %>
			</div>
		<% end %>
	</div>
</div>
<% end %>

<h3 class="alt">Public bookshelf</h3>

<div class="bookshelf">
	<div id="public-books">
		<% @public_books.each do |book| %>
			<div class="book-thumb">
				<%= link_to image_tag(thumbnail_url(book), :height => 105), "/simpleviewer/#{book.id}/1" %>
			</div>
		<% end %>
	</div>
</div>