<h3 class="alt">My bookshelf</h3>

<table id="my-bookshelf">
	<thead>
		<tr>
			<th>Filename</th>
			<th>Content Type</th>
			<th>Public?</th>
			<th>Converted?</th>
			<th>Pages</th>
			<th>Static Host</th>
			<th colspan="4">Actions</th>
	  </tr>
	</thead>
	
	<tbody>
		<%= render "my_bookshelf" %>
	</tbody>
</table>

<br />

<%= link_to 'New Upload', new_upload_path %>
